WebServer/Service References/MapService/MapAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CityNums">
        <s:complexType />
      </s:element>
      <s:element name="CityNumsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CityNumsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cities">
        <s:complexType />
      </s:element>
      <s:element name="CitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CitiesResult" type="tns:ArrayOfCity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="City">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityObject" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:StructuralObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StructuralObject" abstract="true" />
      <s:complexType name="EntityKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityKeyMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCityById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCityByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCityByIdResult" type="tns:City" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceNums">
        <s:complexType />
      </s:element>
      <s:element name="DeviceNumsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeviceNumsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Devices">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfDevice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Device">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Latitude" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Longitude" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="DevicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevicesResult" type="tns:ArrayOfDevice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceByIdResult" type="tns:Device" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="longitude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="latitude" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDeviceResult" type="tns:Device" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CityNumsSoapIn">
    <wsdl:part name="parameters" element="tns:CityNums" />
  </wsdl:message>
  <wsdl:message name="CityNumsSoapOut">
    <wsdl:part name="parameters" element="tns:CityNumsResponse" />
  </wsdl:message>
  <wsdl:message name="CitiesSoapIn">
    <wsdl:part name="parameters" element="tns:Cities" />
  </wsdl:message>
  <wsdl:message name="CitiesSoapOut">
    <wsdl:part name="parameters" element="tns:CitiesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCityByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCityById" />
  </wsdl:message>
  <wsdl:message name="GetCityByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCityByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceNumsSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceNums" />
  </wsdl:message>
  <wsdl:message name="DeviceNumsSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceNumsResponse" />
  </wsdl:message>
  <wsdl:message name="DevicesSoapIn">
    <wsdl:part name="parameters" element="tns:Devices" />
  </wsdl:message>
  <wsdl:message name="DevicesSoapOut">
    <wsdl:part name="parameters" element="tns:DevicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceById" />
  </wsdl:message>
  <wsdl:message name="GetDeviceByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:AddDevice" />
  </wsdl:message>
  <wsdl:message name="AddDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:AddDeviceResponse" />
  </wsdl:message>
  <wsdl:portType name="AjaxMapServiceSoap">
    <wsdl:operation name="CityNums">
      <wsdl:input message="tns:CityNumsSoapIn" />
      <wsdl:output message="tns:CityNumsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cities">
      <wsdl:input message="tns:CitiesSoapIn" />
      <wsdl:output message="tns:CitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCityById">
      <wsdl:input message="tns:GetCityByIdSoapIn" />
      <wsdl:output message="tns:GetCityByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceNums">
      <wsdl:input message="tns:DeviceNumsSoapIn" />
      <wsdl:output message="tns:DeviceNumsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Devices">
      <wsdl:input message="tns:DevicesSoapIn" />
      <wsdl:output message="tns:DevicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceById">
      <wsdl:input message="tns:GetDeviceByIdSoapIn" />
      <wsdl:output message="tns:GetDeviceByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDevice">
      <wsdl:input message="tns:AddDeviceSoapIn" />
      <wsdl:output message="tns:AddDeviceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AjaxMapServiceSoap" type="tns:AjaxMapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CityNums">
      <soap:operation soapAction="http://tempuri.org/CityNums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cities">
      <soap:operation soapAction="http://tempuri.org/Cities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityById">
      <soap:operation soapAction="http://tempuri.org/GetCityById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceNums">
      <soap:operation soapAction="http://tempuri.org/DeviceNums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Devices">
      <soap:operation soapAction="http://tempuri.org/Devices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceById">
      <soap:operation soapAction="http://tempuri.org/GetDeviceById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDevice">
      <soap:operation soapAction="http://tempuri.org/AddDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AjaxMapServiceSoap12" type="tns:AjaxMapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CityNums">
      <soap12:operation soapAction="http://tempuri.org/CityNums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cities">
      <soap12:operation soapAction="http://tempuri.org/Cities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityById">
      <soap12:operation soapAction="http://tempuri.org/GetCityById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceNums">
      <soap12:operation soapAction="http://tempuri.org/DeviceNums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Devices">
      <soap12:operation soapAction="http://tempuri.org/Devices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceById">
      <soap12:operation soapAction="http://tempuri.org/GetDeviceById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDevice">
      <soap12:operation soapAction="http://tempuri.org/AddDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AjaxMapService">
    <wsdl:port name="AjaxMapServiceSoap" binding="tns:AjaxMapServiceSoap">
      <soap:address location="http://localhost:49831/MapAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="AjaxMapServiceSoap12" binding="tns:AjaxMapServiceSoap12">
      <soap12:address location="http://localhost:49831/MapAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>